<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <% if user_signed_in? %>
      <%= link_to "Get Started", items_path, class:"btn btn-primary"  %>
    <!-- <a class="btn btn-primary" href= >Sign Up Now!!</a> -->
    <% else %>
      <%= link_to "Sign Up Now", new_user_registration_path, class:"btn btn-danger"  %>
    <% end %>
  </div>
</div>

